In [13]:
from bs4 import BeautifulSoup
import selenium
import selenium.common.exceptions
import selenium.webdriver.chrome.service
import selenium.webdriver.chrome.options
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.common.exceptions import NoSuchElementException, ElementNotInteractableException
import time
import pandas as pd

In [14]:
driver = webdriver.Chrome(ChromeDriverManager().install())
url = "https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=Singapore&geoId=102454443&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"
driver.get(url)

driver.implicitly_wait(10)

<ipython-input-14-30f0e8ec9f7e>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [17]:
# scroll down page to load more entries

n=0

while n<10:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    n+=1
    
    try:
        driver.find_element(By.XPATH, "//button[@aria-label='Load more results']").click
        time.sleep(3)
        
    except:
        pass
        time.sleep(3)

In [3]:
# find elements for job title, company name, job location

title_elements = driver.find_elements(By.CLASS_NAME, "base-search-card__title")
company_elements = driver.find_elements(By.CLASS_NAME, "hidden-nested-link")
location_elements = driver.find_elements(By.CLASS_NAME, "job-search-card__location")

[WDM] - Downloading: 100%|██████████| 6.58M/6.58M [00:20<00:00, 59.5MB/s]

In [4]:
# create lists for the 3 element values

titlelist = []
companylist = []
locationlist = []

In [5]:
#populate list of job titles

for t in title_elements:
    title = t.text
    titlelist.append(title)

In [6]:
#populate list of company names

for c in company_elements:
    company = c.text
    companylist.append(company)

In [7]:
#populate list of job locations

for l in location_elements:
    location = l.text
    locationlist.append(location)

In [8]:
# convert lists to dataframes and join into a single dataframe

df_jobs = pd.DataFrame(data=titlelist, columns=["JobTitle"])
df_company = pd.DataFrame(companylist, columns=["CompanyName"])
df_location = pd.DataFrame(locationlist, columns=["Location"])

df_jobs = df_jobs.join(df_company)
df_jobs = df_jobs.join(df_location)

In [9]:
# final dataframe of linkedin jobs
df_jobs

,JobTitle,CompanyName,Location
0,Data Analyst,Capgemini,"Singapore, Singapore"
1,Junior Data Analyst,TBWA\Group Singapore,"Singapore, Singapore"
2,Data Analyst,General Index,"Singapore, Singapore"
3,Data Analyst,Green Link Digital Bank (GLDB),"Singapore, Singapore"
4,Data Analyst,Vantage,"Singapore, Singapore"
5,Data Analyst,ASMPT Ltd,"Yishun, Singapore"
6,Data Analyst,TikTok,"Singapore, Singapore"
7,Data Analyst,Advanced MedTech,"Singapore, Singapore"
8,Data Analyst (Group Finance Process and Data),PSA International Pte Ltd,"Singapore, Singapore"
9,Data Analyst,Coforge Solutions,"Singapore, Singapore"
10,Data Analyst,foodpanda,"Singapore, Singapore"
11,Data Analyst - Digital Banking,SeaMoney,"Singapore, Singapore"
12,Business Data Analyst,PartnerRe,"Singapore, Singapore"
13,Junior Data Analyst,Percept Solutions,"Singapore, Singapore"
14,Data Analyst,Iris,"Singapore, Singapore"
15,E-commerce data analyst,TikTok,"Singapore, Singapore"
16,Data Analyst,Singtel,"Singapore, Singapore"
17,Data Analyst,"Love, Bonito","Singapore, Singapore"
18,Data Analyst,Oddle,"Singapore, Singapore"
19,Data Analyst,Etiqa Insurance Singapore,"Singapore, Singapore"
20,Data Analyst Intern - Regional BI & Planning,Shopee,"Singapore, Singapore"
21,Data Analyst,Coinhako,"Singapore, Singapore"
22,Data Analyst,StarHub,"Singapore, Singapore"
23,Data Analyst (Regulatory Reporting),Nicoll Curtin,"Singapore, Singapore"
24,Data Analyst,Y3 Technologies,"Singapore, Singapore"